@font-face {
  font-family: 'brannboll';
  src: url('../fonts/brannboll.woff2') format('woff2'),
         url('../fonts/brannboll.woff') format('font-woff');
  font-weight: normal;
  font-style: normal;
}

.card {
  margin: 20px;
  animation: back-to-normal 1s;
  animation-fill-mode: forwards;
}

.card:hover {
  animation: expand 1s;
  animation-fill-mode: forwards;
  z-index: 5;
}

@keyframes expand {
  0% { transform: scale(1); }
  30% { transform: scale(1.3); }
  100% { transform: scale(1.25);}
}

@keyframes back-to-normal {
  0% { transform: scale(1.25); }
  100% { transform: scale(1);}
}

.cardFront {
  height: 336px;
  width: 240px;
  overflow: hidden;
  z-index: 20;
  background-color: white;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 2px;
}

.cardFront:hover {
  cursor: url(../images/flip-right.svg), pointer;
}

.cardboard {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../images/cardboard.jpg");
  opacity: 0.2;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: 9;
}

.cardBack.cardboard {
  transform: scaleX(-1);
}

.cardFront:before {
	content: '';
	position: absolute;
	top: 2px;
	left: 2px;
  width: calc(100% - 4px);
  height: 100%;
  background: linear-gradient(135deg, rgba(255,255,255,0.1), rgba(255,255,255,0.0) 70%),
              linear-gradient(0.15turn, rgba(255,255,255,0.15), rgba(255,255,255,0.1) 70%);
  filter: blur(35px);
  z-index: 10;
}

.cardBack:hover {
  cursor: url(../images/flip-left.svg), pointer;
}

.cardImage {
  z-index: -4;
  width: 200px;
  height: 280px;
  border: 3px solid chartreuse;
  object-fit: cover;
  object-position: center top;
}


.name {
  position: absolute;
  text-align: right;
  bottom: -5px;
  right: 5px;
  margin-right: 5px;
  font-size: 11px;
  text-transform: uppercase;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  letter-spacing: -1px;
  font-stretch: narrower;
  z-index: 6;
  color: #000;
}

.logo {
  position: absolute;
  top: 10px;
  right: 15px;
  z-index: 2;
}

.logo img {
  height: 50px;
}

.team {
  font-family: 'brannboll', 'Courier New', Courier, monospace;
  font-size: 36px;
  text-align: left;
  margin-left: 20px;
  right: 12px;
  bottom: 70px;
  position: relative;
  color: orange;
  text-shadow:  -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  z-index: 2;
  text-transform: capitalize;
  -webkit-text-stroke: .25px black;
}

.position {
  color: #0a0;
  position: relative;
  top: 35px;
  right: 0px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: medium;
  z-index: 3;
  text-align: center;
  align-content: center;
  letter-spacing: -1px;
  -webkit-text-stroke: .35px black;
}

.cardBack {
  height: 336px;
  width: 240px;
  overflow: hidden;
  z-index: 20;
  background-color: #7e513c;
  color: #384452;
  overflow: hidden;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 2px;
}

.stats {
  font-size: 12px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  letter-spacing: -1px;
  font-stretch: narrower;
  background-color: #787264;
  text-align: left;
  line-height: 200%;
  padding: 5px;
}